

$body-font: 'SF Pro Text';
$primary :#0958D9;
$secondary: #1677FF;
$danger: #FD6060;
$danger-100:#FF4D4F;
$skeleton-base: #f3f4f6;
$skeleton-highlight: #e5e7eb;


//black-color
$black-88:rgba(0, 0, 0, 0.88);
$black-65:rgba(0, 0, 0, 0.65);

$black-45:rgba(0, 0, 0, 0.45);
$black-25:rgba(0, 0, 0, 0.25);

//white-color
$white-88:rgba(255, 255, 255, 0.88);
$white-65:rgba(255, 255, 255, 0.65);
$white-45:rgba(255, 255, 255, 0.45);
$white-25:rgba(255, 255, 255, 0.25);

//gray-color
$gray-88:rgba(102, 102, 102, 0.88);
$gray-65:rgba(102, 102, 102, 0.65);
$gray-45:rgba(102, 102, 102, 0.45);
$gray-25:rgba(102, 102, 102, 0.25);

//border-color
$border-color:rgba(0, 0, 0, 0.12);
$border-color-100:rgba(0, 0, 0, 0.08);

